<div class="row">
  <div class="col-sm">
    <h1><%= fa_icon 'user-circle' %> Editar Alvo</h1>
  </div>
  <div class="col-sm text-right">
    <div class="btn-group" role="group" aria-label="Opções">
      <%= link_to fa_icon('eye', text: 'Detalhar'), @alvo, class: "btn btn-info" %> 
      <%= link_to fa_icon('undo', text: 'Voltar'), alvos_path, class: "btn btn-info" %>
    </div>
  </div>
</div>

<%= render 'form' %>