<p id="notice"><%= notice %></p>
<h1>Alvo</h1>
<p>
  <strong>Alvo:</strong>
  <%= @alvo.nome %>
</p>

<%= link_to 'Editar', edit_alvo_path(@alvo),class: "btn btn-warning" %> 
<%= link_to 'Voltar', alvos_path,class: "btn btn-success" %>
