<h1><%= fa_icon 'navicon' %> Dashboard</h1>

<div class="row">
  <div class="col">
    <h3>Mensagens por dia</h3>
      <%= grafico_mensagens_dia %>
  </div>
</div>

<div class="row">
  <div class="col">
    <h3>Mensagens</h3>
    <%= grafico_mensagens_atentidas %>
  </div>
  <div class="col">
    <h3>Algum outro gráfico</h3>
  </div>
</div>
