 
<h1>Bem vindo ao Alan_BOT</h1>
</br>
<hr>
<div class="row">
   
    <div class="col-md-6">
        <h2>Criar, Ler, Atualizar, Deletar:</h2>
        <div style="display:inline-grid" >
            <button class='btn btn-outline-info space' ><%= link_to 'Alvos <i class="fa fa-bullseye" aria-hidden="true"></i>'.html_safe ,alvos_path %></button>   
            <button class='btn btn-outline-info space' ><%= link_to 'Informações <i class="fa fa-search" aria-hidden="true"></i>'.html_safe ,informacoes_path %></button>    
            <button class='btn btn-outline-info space' ><%= link_to 'Respostas <i class="fa fa-envelope" aria-hidden="true"></i>'.html_safe ,respostas_path %></button>    
        </div>
    </div>
</div>