<h1>Editar informação</h1>

<%= render 'form', informacao: @informacao %>

<%= link_to 'Ver', @informacao ,class: "btn btn-warning"%> 
<%= link_to 'Voltar', informacoes_path,class: "btn btn-success" %>
