<h1>Editar Resposta</h1>

<%= render 'form', resposta: @resposta %>

<%= link_to 'Ver', @resposta ,class: "btn btn-outline-info"%> 
<%= link_to 'Voltar', respostas_path,class: "btn btn-outline-info" %>
