<!DOCTYPE html>
<html>
    <head>
      <title>Alan Turing Bot</title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
      
    </head>
    
    <body>
      <style>
      body{
      background: linear-gradient(-90deg, rgb(0, 204, 102), rgb(210, 210, 210));
       background: linear-gradient(-90deg, #e6e6e6, #99ff99);
      }
      .space{
        margin-bottom:5px;
      }
      .container_{
        background-color: rgb(0, 204, 102);
      }
        h1 {
          text-align:center;
        }
        
        .table td,tr {
           text-align: center;   
        }
        form{
              margin-bottom: 40px;
        }
        .field{
          padding-right:10px;
        }
      </style>
    <img src="https://ead.ifrn.edu.br/portal/wp-content/uploads/2017/04/logo_IFRN_EaD.png" style="width:500px;" alt="Logo IFRN">
    <div class="container">	
		  <%= yield %>
	  </div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
   
   <script src="https://use.fontawesome.com/99e2802894.js"></script>
   
    </body>
</html>